body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

@font-face {
  font-family: Fredoka, sans-serif;
  src: url("fonts/Fredoka One.ttf")
}

@font-face {
    font-family: Rubik, sans-serif;
    src: url("fonts/Rubik.ttf")
}

mark {
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rubik, sans-serif;
    text-align: center;
    font-style: normal;

    font-weight: 500;

    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap
}

h1 {font-size: 45px;}
h2 {font-size: 40px;}
h3 {font-size: 35px;}
h4 {font-size: 25px;}
h5 {font-size: 17px;}

p {
    font-family: Fredoka, sans-serif;
    font-weight: 600;

    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    white-space: pre-wrap
}

a {
    font-family: Fredoka, sans-serif;
    font-weight: 600;
    font-size: 25px;

    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;

    transition: font-size 0.3s ease-in-out;
    cursor: pointer;
}

a:hover {
    font-size: 32px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    h3 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    h4 {
        font-size: 20px;
    }
}


.footer a img {
    transition: transform 0.3s ease-in-out;
}

.footer a img:hover {
    transform: scale(1.35);
}

.navbar {
    background-color: #00122c;

    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;

    z-index: 10000000000000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-left {
    margin-left: auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #00122c;
}

.container {
    display: grid;
    position: relative;
    text-align: center;
    color: white;
}

.banner-left {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.footer {
    height: 65px;
    width: 100%;
    background-color: #6B5FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
}

.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, .footer p {
    color: white;
}

#footer-logo {
    max-width: 25px;
    padding: 10px;
}

#socials {
    padding: 10px;
}

#socials img {
    max-width: 25px;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: start;
    align-self: start;
    bottom: 0;
    left: 0;
    margin: 0;
}

.card-info img {
    height: 100%;
    max-height: 20px;
    padding-right: 10px;

    filter: invert(1);
}

.card {
    display: grid;
    grid:
    "image-span content-span" 250px
    / 250px calc(100% - 250px);
    gap: 8px;
    border-radius: 35px;
    background-color: #eeeeee;

    width: calc(100% - 36px);
    height: 250px;
    padding: 10px;

    align-items: center;
}

.cards {
    display: grid;
    /*grid-template-rows: repeat(auto-fit, 1fr);*/
    grid-template-columns: repeat(2, 1fr);

    row-gap: 16px;
    column-gap: 0;
    justify-items: center;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6, .card p {
    text-align: left;
    margin: 0;
}

.card-image-span { grid-area: image-span; }
.card-image-span img {
    width: 100%;
    border-radius: 30px;
}

.card-content-span { grid-area: content-span; }
.card-content-span p {
    font-size: 20px;
}
.card-content-span h2 {
    font-weight: 800;
}

div.gap {
    padding-top: 60px;
}

.content {
    background-color: white;
}

#page-header {
    padding-top: 0.5em;
    margin-top: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip img {
    padding: 0;
}

.tooltip .tooltipimg {
    visibility: hidden;
    background-color: white;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scale(0.2);
    opacity: 0;
    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.15s ease-out;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tooltip .tooltipimg img {
    max-height: 20px;
}

.tooltip .tooltipimg::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.tooltip:hover .tooltipimg {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}


